# This file contains common pin mappings for the bigtreetech lis2dw v1.0
# To use this config, the firmware should be compiled for the
# RP2040 with "USB"
# The micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

[mcu lis_hotend]
# Change <mySerial> to whatever you found above. For example,
# usb-Klipper_rp2040_E661640843545B2E-if00
serial: /dev/serial/by-id/usb-Klipper_rp2040_454741505405AC8A-if00

[mcu lis_bed]
# Change <mySerial> to whatever you found above. For example,
# usb-Klipper_rp2040_E661640843545B2E-if00
serial: /dev/serial/by-id/usb-Klipper_rp2040_45474150538BDA5A-if00

[lis2dw bed]
cs_pin: lis_bed:gpio9
spi_software_sclk_pin: lis_bed:gpio10
spi_software_mosi_pin: lis_bed:gpio11
spi_software_miso_pin: lis_bed:gpio8
axes_map: x,y,z

[lis2dw hotend]
cs_pin: lis_hotend:gpio9
spi_software_sclk_pin: lis_hotend:gpio10
spi_software_mosi_pin: lis_hotend:gpio11
spi_software_miso_pin: lis_hotend:gpio8
axes_map: x,y,z

[resonance_tester]
accel_per_hz: 50
accel_chip_x: lis2dw hotend
accel_chip_y: lis2dw bed
probe_points: 97.5,100,20    # Somewhere slightly above the middle of your print bed
max_smoothing: 0.25  # an example


